<mat-toolbar>
  <mat-toolbar-row id="row1">
    <span>
      <li><a>Ajuda</a></li>
      <li><a>Sobre Nós</a></li>
      <li><a>Entrar</a></li>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row id="row2">

    <span>
      <a routerLink = '/'> <img id="logo" src="./../../../../assets/logo/full-logo.png"> </a>
    </span>

    <nav id="navigation">
        <li><a routerLink = '/about'> Lancamentos</a></li>
        <li><a routerLink = '/'> Ofertas</a></li>
        <li><a routerLink = '/about'> Masculino</a></li>
        <li><a routerLink = '/'> Feminino</a></li>
        <li><a routerLink = '/about'> Infantil</a></li>
    </nav>

    <span id="tools">
        <form id="search-box">
          <input>
          <button mat-icon-button>
            <img src="assets/icon/search.png">
          </button>
        </form>

        <button mat-icon-button >
         <img src="assets/icon/heart.png">
        </button>

        <button mat-icon-button>
          <img src="assets/icon/cart.png">
        </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
