mat-toolbar{

  list-style: none;

  #row1{
    height:1rem;
    justify-content: flex-end;

    span{
      width: 15%;
      display: flex;
      flex-direction:row;
      justify-content: space-around;

      a{
        font-family: "NikeFontLight";
        font-size: 1rem;
      }
    }

  }
  #row2{
    display: flex;
    justify-content: space-around;

    #logo{
      height: 2rem;
    }

    #navigation{
      width: 40%;

      display: flex;
      flex-direction: row;
      justify-content: space-around;


    }
  }



}
