<mat-toolbar>
  <mat-toolbar-row id="row1">
    <span>
      <li><a>Ajuda</a></li>
      <li><a>Sobre Nós</a></li>
      <li><a>Entrar</a></li>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row id="row2">

    <span>
      <img id="logo" src="./../../../../assets/logo/full-logo.png">
    </span>

    <nav id="navigation">
        <li><a routerLink = '/'> Home</a></li>
        <li><a routerLink = '/about'> Lancamentos</a></li>
        <li><a routerLink = '/'> Ofertas</a></li>
        <li><a routerLink = '/about'> Masculino</a></li>
        <li><a routerLink = '/'> Feminino</a></li>
        <li><a routerLink = '/about'> Infantil</a></li>
    </nav>
    <span>
        <button></button>
        <input>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
